article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden] {
    display: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font: normal 14px 'Segoe UI Light', 'Segoe UI', Tahoma, Sans;
    color: #555;
}

a:focus {
    outline: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #222;
}

    a[disabled] {
        cursor: default;
    }

    a:active, a:hover {
        outline: 0;
        color: #f90;
    }

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 1em 0 0.5em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0 0 1em;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: lowercase;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}

.container {
    margin: 0 5%;
}

.flyout {
    color: white;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 340px;
    background-color: #231f20;
    z-index: 1078;
    padding: 2em;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -moz-transform-origin: right;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

    .flyout.shown {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    .flyout h1 {
        margin:0 0 0.5em;
    }

    .flyout a {
        color: #ddd;
    }

        .flyout a:hover,
        .flyout a:focus {
            color: #fff;
        }

.pane-backdrop {
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1070;
}


.ui-symbols {
    font-family: "Segoe UI Symbol";
    font-size: 80%;
    margin-right: 10px;
}

button {
    text-transform: uppercase;
    padding: 10px 30px;
    font-family: 12px;
}

    button .ui-symbols {
        font-size: 100%;
        margin-left: 10px;
        margin-right: 0;
    }

.online {
    color: green;
}

.offline {
    color: red;
    display: none;
}

#NetworkStat.disabled .online {
    display: none;
}

#NetworkStat.disabled .offline {
    display: inline;
}

.appbar-container {
    background: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1040;
}

.hide {
    display: none;
}

.charm-bar {
    background: #231f20;
    color: white;
    position: fixed;
    right: -110px;
    top: 0;
    bottom: 0;
    z-index: 1070;
    width: 110px;
    overflow: hidden;
}

    .charm-bar a[class*="scroll"].hide, .charm-bar button[class*="scroll"].hide {
        display: none;
    }

    .charm-bar a[class*="scroll"].hide, .charm-bar button[class*="scroll"].hide {
        display: none;
    }

.scroll-btn.scroll-top {
    top: 110px;
    right: 0;
}

.charm-bar a, .charm-bar button {
    color: #ccc;
    display: block;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.scroll-btn {
    background: #231f20;
    border: 0;
    font-size: 0 !important;
    color: transparent !important;
    position: fixed;
    width: 110px;
    height: 40px;
    z-index: 2;
}

.charm-bar .scroll-btn + ul {
    margin: 40px 0;
}

.charm-bar > ul {
    margin: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .charm-bar > ul li {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        font-size:55px;
    }


    .charm-bar > ul .ui-symbols {
        margin:0;
    }

    .charm-bar > ul li a:hover,
    .charm-bar > ul li a:focus {
        color:#fff;
    }
